@import 'bootstrap.min';
@import 'ie10-viewport-bug-workaround';
@import 'codemirror';
@import 'blog';

$color-body: #f6f6f6;
$irc-alt: darken(#428BCA, 20%);

.CodeMirror {
    border: 1px solid darken($color-body, 20%);
    height: auto;
    background: lighten($color-body, 2.5%);

    pre { background: none; }
}

body, .blog-footer {
    background: lighten($color-body, 50%);
}

.bg {
    background: $color-body;
    padding-bottom: 30px;
}

pre {
    border-radius: 0;
    border: darken($color-body, 20%);
    padding: 0;
}

code {
    background: darken($color-body, 2%);
}

h2:not(.blog-post-title), h3, h4, h5, h6 {
    border-left: 10px solid darken($color-body, 20%);
    padding-left: 10px;
    margin-top: 40px;

    .title-anchor {
        visibility: hidden;
        color: darken($color-body, 60%);
        font-size: 60%;
        margin-left: 10px;
        display: inline-block;
        text-decoration: none;
        vertical-align: 0.5ex;
        outline: none;
    }
}

article {
    p {
        margin-bottom: 30px;
        line-height: 1.7em;
    }

    > p + pre {
        margin-top: -20px;
    }
}

h2:not(.blog-post-title):hover, h3:hover, h4:hover, h5:hover, h6:hover {
    .title-anchor {
        visibility: visible;
    }
}

h2:not(.blog-post-title) { font-size: 230%; }
h3 { font-size: 180%; }
h4 { font-size: 160%; margin-top: 40px; }
h5 { font-size: 140%; margin-top: 30px; }
h6 { font-size: 120%; margin-top: 20px; }

hr {
    border-color: darken($color-body, 20%);
}

footer {
    background: lighten($color-body, 50%);
    padding-top: 20px;

    .fork-it,
    .powered-by {
        background: url(/assets/pics/powered-by.png);
        width: 54px;
        height: 51px;
        overflow: hidden;
        text-indent: -9999px;
        display: inline-block;
        margin: 5px;
    }

    .fork-it {
        background: url(/assets/pics/github.png) center no-repeat;
        width: 31px;
        margin-left: 20px;
    }
}

.code-runner {
    a {
        display: inline-block;
        margin: 3px 0;
    }

    p {
        padding: 10px;
        margin: 0;
        background: darken($color-body, 10%);
    }
}

.blog-nav {
    font-size: 130%;

    a {
        color: #eDeDEB;
    }
}

.blog-post-meta {
    color: #888;
}

a code {
    color: darken(#337ab7, 20%);
    background: lighten(#f1f1f1, 2%);
    border-bottom: 1px dotted lighten(#337ab7, 20%);
    display: inline-block;
    padding: 0 3px;
    margin: 0;
    line-height: 1.3em;
    font-weight: medium;
}

a:hover code {
    text-decoration: none;
    background: darken(#f1f1f1, 10%);
    border-bottom-style: solid;
}

.feed-nav {
    min-height: 16px;
    padding-left: 21px;
    margin-left: 10px;
    background: url(/assets/pics/rss.png) no-repeat left;
}

blockquote {
    background: #fcfcfc;
    border: 1px solid #EEE;
    border-left-width: 10px;
    position: relative;
    font-family: 'Courier New';
}

blockquote p:before{
    content: '\201C';
    font-family: serif;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    font-size: 175px;
    top: 40px;
    left: -105px;
    color: rgba(200, 200, 200, .5);
    text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
}

.irc-alt {
    color: $irc-alt;
}

.irc-timestamp {
    color: darken($color-body, 50%);
}

article {
    .article-description {
        font-style: italic;
        opacity: .7;
        padding-bottom: 10px;
        border-bottom: 1px solid darken($color-body, 20%);
    }

    p + ul {
        margin-top: -25px;
        margin-bottom: 30px;
    }
}

.words-count {
    opacity: .7;
    font-size: 75%;
}
