%% title: About

<p>This site is run by Zoffix Znet. Ping him on <a href="https://twitter.com/zoffix">Twitter</a>. Sometimes he lurks on <a href="irc://irc.freenode.net/#perl6">irc.freenode.net/#perl6</a> too.</p>
